@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Hind');



html, body {
    height: 100%;
}

.Toastify__toast-container {

    top: 50px;
}

.debug, .debug *{
    box-shadow: inset 0px 0px 0px 1px #f00;
}
