.gradient{
       width: 100%;
       height: 100vh;
       background: linear-gradient(-45deg, #023048 0%, #023756 13%, #033b56 25%, #054664 38%, #065273 50%, #065e82 62%, #066a91 75%, #0476a0 87%, #0183b0 100%);
       background-size: 400% 400%;
       animation: animate 7.5s ease-in-out infinite;
     }
     
     @keyframes animate{
       0%{
         background-position: 0 50%;
       }
       50%{
         background-position: 100% 50%;
       }
       100%{
         background-position: 0 50%;
       }
     }